.photo_main {
  margin-right: 0.5rem;
  position: relative;
  width: 50vw;
  background: url("./img/Fond-du-site.jpg") no-repeat center center/cover;
  grid-area: mainphoto;
}
.btn {
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 75%;
  padding: 0.5rem 0.7rem;
  border: 1px solid #857090;
  color: #857090;
  border-radius: 40px;
  position: absolute;
  background: transparent;
}
