.secondary_photo {
  height: 100%;
  width: 50vw;
  grid-area: mainphoto;
}
.photo-carton {
  margin: auto;
  width: 40rem;
  height: 100%;
  transform: scale(80%);
  background: url("./boxmoyen.png") no-repeat center center/cover;
}
