.article {
  margin: 1rem;
  grid-area: article;
}
.article-titre {
  font-size: 2rem;
  padding: 0 0 1rem 2rem;
}
.article-text {
  padding: 0 1rem 0 1rem;
}
.ponctu {
  font-weight: bold;
}
